*{margin: 0;padding: 0;}
.flexList{
   display: flex;
   justify-content: space-around;
   list-style: none;
   background-color: aquamarine;
   margin-bottom: 15px;
}

.flexLinks{
   display: flex;
   justify-content: space-between;
}


.flex{
   display: flex;
}





.aligned{
   justify-content: center;
   align-items: center;
   
}

.imageryFitnessGoals{
   display: flex;
   justify-content: space-around;
   align-items: center;
}


.description{
   display: flex;
justify-content: space-around;
align-items: center;
text-align: center !important;

}

.discounts{
   display: flex;
   flex-direction: column;
   align-items: center;
  
}

.gridding{
   display: grid;
   grid-template-columns: repeat(3, 1fr); /* 3 columns */
   justify-content: center;
}

.discounts p img {
   text-align: center;
  margin: auto;
  text-align: center;
  display: flex;
  height: 150px !important;
  object-fit: cover;
  padding: 10px;;
   width: 55.3%; /* Make sure images fit within their grid cells */
   height: auto; /* Maintain aspect ratio of images */
 }
 .weights{height:200px}

 .discounts p button{
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   margin: auto;
   background-color: black;
   color: red;
   border-radius: 5px;
   padding: 5px;
 }
 

span{
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}


.blocked{
   margin: 10px;
   display: block;
}
.cen{
   text-align: center !important;
}

.space{
   margin: 15px;
}
.sized:hover{
   font-size: 17px;
}

.traits{
   font-size: 18px;

}

/* .weightsLife{
   display: flex;
   height: 50px;
} */
a{text-decoration: none; color: black;}

.mainAligner{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.fonter{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 40px;
   font-weight: bold;
}

.sze{
   font-size: 24px;
   text-transform: capitalize;
}